<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-xs-12 col-sm-12">
        <img class="img img-thumbnail" alt="myimg" src="\assets\images\ng.JPG">
    

        <hr><hr><hr>

    <h2>This is a PWA Application!</h2>
    <p>Developped By Achraf AZIRA</p>
    <p>Copyright © 2010 by Wily E. Coyote
        All rights reserved. This book or any portion thereof
        may not be reproduced or used in any manner whatsoever
        without the express written permission of the publisher
        except for the use of brief quotations in a book review.
        
        Printed in the United States of America
        
        First Printing, 2010
        
        ISBN 0-9000000-0-0
        
        Falling Anvil Publishing
        123 Mesa Street
        Scottsdale, AZ 00000
        
        www.FallingAnvilBooks.com</p>


    </div>
    <div class="col-md-4"></div>
</div>